<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartdesk">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name="com.smartdesk.screens._splash.ScreenSplash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.smartdesk.screens.admin.information.ScreenInformation"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name=".screens.user_management.login.LoginOTP"
            android:screenOrientation="portrait"></activity>


        <!-- ============================= Desk User Signup Screens ==================================== -->
        <activity
            android:name="com.smartdesk.screens.desk_users_screens.sign_up.ScreenDeskUserSignup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <!-- ============================= Consumer Signup Screens ==================================== -->
        <activity
            android:name="com.smartdesk.screens.desk_users_screens.charging.ScreenWirelessCharging"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.smartdesk.screens.manager_screens._home.desk_user.ScreenSmartDeskDetailBookManager"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.smartdesk.screens.desk_users_screens._home.desk_user.ScreenSmartDeskBookDetailUser"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.smartdesk.screens.manager_screens.add_desk.ScreenAddNewDesk"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.smartdesk.screens.manager_screens.sign_up.ScreenMangerSignup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.smartdesk.screens.manager_screens._home.desk_user.ScreenSmartDeskDetailManager"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.smartdesk.screens.desk_users_screens._home.desk_user.ScreenSmartDeskDetailUser"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.smartdesk.screens.manager_screens._home.ScreenManagerHome"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <!-- ============================= Signup Otp Screen Screens ==================================== -->
        <activity
            android:name="com.smartdesk.screens.user_management.signup_otp.ScreenSignUpOTP"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />


        <!-- ============================= Change Password Screens ==================================== -->
        <activity
            android:name="com.smartdesk.screens.user_management.change_password.ScreenChangePassword"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />


        <!-- ============================= Forget Password Screens ==================================== -->
        <activity
            android:name="com.smartdesk.screens.user_management.forget_password.ScreenForgetPasswordStep1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.smartdesk.screens.user_management.forget_password.ScreenForgetPasswordStep2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.smartdesk.screens.user_management.forget_password.ScreenForgetPasswordStep3"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />


        <!-- ============================= Login Screen ==================================== -->
        <activity
            android:name="com.smartdesk.screens.user_management.login.ScreenLogin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />


        <!-- ============================= Admin Screens ==================================== -->
        <activity
            android:name="com.smartdesk.screens.admin._home.ScreenAdminHome"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.smartdesk.screens.admin.manager_status.ScreenAdminManager"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.smartdesk.screens.admin.desk_user_status.ScreenBlockedDeskUser"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.smartdesk.screens.admin.manager_status.ScreenBlockedManager"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.smartdesk.screens.admin.desk_user_status.ScreenDeskUserDetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />


        <!-- ============================= Consumer Screens ==================================== -->
        <activity
            android:name="com.smartdesk.screens.desk_users_screens._home.ScreenDeskUserHome"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.smartdesk.screens.desk_users_screens.user_requests.ScreenDeskUserRequest"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.smartdesk.screens.user_management.setting.ScreenDeskUserSetting"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.smartdesk.screens.user_management.setting.ScreenManagerSetting"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.smartdesk.screens.user_management.setting.ScreenAdminSetting"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />


        <!-- ============================= Notification Screen ============================================ -->
        <activity
            android:name="com.smartdesk.screens.user_management.notification.ScreenNotification"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.smartdesk.screens.user_management.notification.NotificationService"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />


        <!-- ============================= Help Screen ============================================ -->
        <activity
            android:name="com.smartdesk.screens.user_management.help.ScreenHelp"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />


        <!-- xxxxxxxxxxxxxxxxxxxxxxxACTIVITY ENDxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <!-- ============================= Image save path ============================================ -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.smartdesk.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:readPermission="true"
            android:writePermission="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- ============================= Firebase Service ============================================ -->
        <service
            android:name="com.smartdesk.services.FCMService"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <!-- ============================= Map Key ============================================ -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name="com.smartdesk.utility.location.LocationJob"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

    </application>
</manifest>